body{
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}

img.logo{
    width: 100px;
    height: auto;
}

img.filler{
    width: 500px;
    height: auto;    
}

img.flag{
    width: 200px;
    height: auto;    
}